@page
@model LoginModel

@{
	ViewData["Title"] = "ورود";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BreadCrumb {
	<li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-10 col-md-9 col-lg-8  col-xl-6">
				<div class="login login-register-wrap">
					<div class="area-form-login area-form-login-register p-3 p-sm-4 p-md-5 ">
						<h3 class="heading-style1 mb-3">ورود</h3>
						<form id="account" method="post">

							<div class="form-group">
								<label for="Email">نام کاربری <span class="text-danger ">*</span></label>
								<input asp-for="Input.Email" type="text" required placeholder="ایمیل را وارد کنید" class="form-control">
								<span asp-validation-for="Input.Email" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<label for="Password">پسورد <span class="text-danger ">*</span></label>
								<input asp-for="Input.Password" type="password" required
									   class="form-control input-password" placeholder="رمز عبور را وارد کنید"
									   aria-label="Enter Password" aria-describedby="basic-addon2">
								<span class="icon-eye-password" id="basic-addon2">
									<i class="fa fa-eye" aria-hidden="true"></i>
								</span>
								<span asp-validation-for="Input.Password" class="text-danger"></span>
							</div>
							<div class=" d-sm-flex justify-content-between">
								a
								<div class="form-check form-check-custom ">
									<label asp-for="Input.RememberMe" class="checkbox-container">
										مرا به خاطر بسپار
										<input asp-for="Input.RememberMe" />
										<span class="checkmark"></span>
									</label>
								</div>
								@*<div class="forget_password">
										<a href="#">
											رمز عبور را فراموش کرده اید؟
										</a>
									</div>*@
							</div>
							<button type="submit" class="btn-animate1 mt-4">ورود</button>

							<div class="form-note mt-4">
								حساب کاربری ندارید؟
								<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">
									ثبت نام
									کنید
								</a>
							</div>
						</form>
					</div>
					<div class="footer-login">
						<div class="area-socialIcon socialIcon-bg-secondary d-flex justify-content-center">
							<a href="http://instagram.com" class="icon instegram">
								<span class="tooltip-site">اینستاگرام</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
