@{
	ViewData["Title"] = "درباره ما";
}
@section Head {
	<link href="~/lib/owlcarousel/dist/css/owl.carousel.min.css" rel="stylesheet" />
	<link href="~/lib/owlcarousel/dist/css/owl.theme.default.min.css" rel="stylesheet" />
}
@section Scripts {
	<script src="~/lib/owlcarousel/dist/js/owl.carousel.min.js"></script>
}
@section BreadCrumb {
	<li class="breadcrumb-item active">@ViewData["Title"]</li>
}

<section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6 mb-4 mb-lg-0">
				<div class="area-img-about-us" id="tilt">
					<img src="~/assets/img/about/imgabout.jpg" alt="تصویر درباره ما" class="img-fluid w-100">
				</div>
			</div>
			<div class="col-12 col-lg-6 d-flex align-items-center">
				<div class="text-about-us">
					<h2 class="title-style2" style="visibility: visible; animation-name: fadeInUp;">
						ما کی هستیم
					</h2>
					<p>
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
						است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
					</p>
					<p>
						برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
						باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را
						می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
						خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
	<div class="area-services-about">
		<div class="container">
			<div class="area-title-about mb-5">
				<h2 class="title-style2" style="visibility: visible; animation-name: fadeInUp;">
					چرا ما را انتخاب
					کنید؟
				</h2>
				<p>
					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.
				</p>
			</div>
			<div class="row">
				<div class="col-12  col-sm-6 col-lg-4 ">
					<div class="box-icon-about">
						<div class="card ">
							<div class="card-header">
								<i class="fal fa-pencil-paintbrush"></i>
							</div>
							<div class="card-body p-0">

								<h5 class="card-title">طراحی خلاقانه</h5>
								<p class="card-text">
									للورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
									و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
									ستون و سطرآنچنان که لازم است
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12  col-sm-6 col-lg-4">
					<div class="box-icon-about">
						<div class="card ">
							<div class="card-header">
								<i class="fal fa-user-headset"></i>
							</div>
							<div class="card-body p-0">

								<h5 class="card-title">پشتیبانی فوق العاده</h5>
								<p class="card-text">
									للورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
									و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
									ستون و سطرآنچنان که لازم است
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12  col-sm-6 col-lg-4 ">
					<div class="box-icon-about" id="box-icon-about-three">
						<div class="card ">
							<div class="card-header">
								<i class="far fa-signal"></i>
							</div>
							<div class="card-body p-0">
								<h5 class="card-title">سئو</h5>
								<p class="card-text">
									للورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
									و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
									ستون و سطرآنچنان که لازم است
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
	<div class="container">
		<div class="area-title-about mb-5">
			<h2 class="title-style2" style="visibility: visible; animation-name: fadeInUp;">
				اعضای تیم ما
			</h2>
			<p>
				لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.
			</p>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="owl-carousel slider-team" id="team-slider">
					<div class="ourteam-items">
						<div class="area-img-team">
							<img src="~/assets/img/about/imgteam1.jpg" alt="team-img1">
							<div class="area-socialIcon d-flex ">
								<a href="http://www.facebook.com" class="icon facebook icon1"></a>
								<a href="http://www.github.com" class="icon instegram icon2"></a>
								<a href="http://www.dribble.com" class="icon linkedin icon3"></a>
								<a href="http://www.twitter.com" class="icon twitter icon4"></a>
							</div>
						</div>
						<div class="area-content-team">
							<div class="team-info">
								<h5>فاطمه عوفی</h5>
								<span>مهندس پروژه</span>
							</div>
						</div>
					</div>

					<div class="ourteam-items">
						<div class="area-img-team">
							<img src="~/assets/img/about/imgteam2.jpg" alt="team-img1">

							<div class="area-socialIcon d-flex ">
								<a href="http://www.facebook.com" class="icon facebook icon1"></a>
								<a href="http://www.github.com" class="icon instegram icon2"></a>
								<a href="http://www.dribble.com" class="icon linkedin icon3"></a>
								<a href="http://www.twitter.com" class="icon twitter icon4"></a>
							</div>
						</div>
						<div class="area-content-team">
							<div class="team-info">
								<h5>سمیرا ضامنی</h5>
								<span>طراح گرافیک</span>
							</div>
						</div>
					</div>
					<div class="ourteam-items">
						<div class="area-img-team">
							<img src="~/assets/img/about/imgteam3.jpg" alt="team-img1">

							<div class="area-socialIcon d-flex ">
								<a href="http://www.facebook.com" class="icon facebook icon1"></a>
								<a href="http://www.github.com" class="icon instegram icon2"></a>
								<a href="http://www.dribble.com" class="icon linkedin icon3"></a>
								<a href="http://www.twitter.com" class="icon twitter icon4"></a>
							</div>
						</div>
						<div class="area-content-team">
							<div class="team-info">
								<h5>فاطمه عباسی</h5>
								<span>توسعه دهنده وب</span>
							</div>
						</div>
					</div>

					<div class="ourteam-items">
						<div class="area-img-team">
							<img src="~/assets/img/about/imgteam4.jpg" alt="team-img1">

							<div class="area-socialIcon d-flex ">
								<a href="http://www.facebook.com" class="icon facebook icon1"></a>
								<a href="http://www.github.com" class="icon instegram icon2"></a>
								<a href="http://www.dribble.com" class="icon linkedin icon3"></a>
								<a href="http://www.twitter.com" class="icon twitter icon4"></a>
							</div>
						</div>
						<div class="area-content-team">
							<div class="team-info">
								<h5>زهرا الهایی</h5>
								<span>طراح گرافیک</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
	<div class="area-show-customers-comment">
		<div class="container">
			<div class="area-title-about mb-5">
				<h2 class="title-style2" style="visibility: visible; animation-name: fadeInUp;">
					مشتریان ما می گویند
				</h2>
			</div>
			<div class="owl-carousel slider-show-customers-comment" id="testimonial-slider">
				<div class="item-show-customers-comment d-flex flex-column align-items-center">
					<div class="area-img-comment mb-3">
						<img src="~/assets/img/about/img100.jpg" class="img-fluid">
					</div>
					<p class="text-center">
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
						استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
						لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
						کاربردی می باشد.
					</p>

					<div class="testimonial-info">
						<h6>فاطمه عوفی</h6>
						<span>مهندس پروژه</span>
					</div>
				</div>
				<div class="item-show-customers-comment d-flex flex-column align-items-center">
					<div class="area-img-comment mb-3">
						<img src="~/assets/img/about/img601.png" class="img-fluid">
					</div>
					<p class="text-center">
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
						استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
						لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
						کاربردی می باشد.
					</p>

					<div class="testimonial-info">
						<h6>زهرا محمدی</h6>
						<span>طراح گرافیک</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
